
/* 
.imagem{
    text-align: center;
}

.texto{
    text-align: center;
    font-size: 100px;

} */




.container{
    position: relative;
}

.imagem {
    text-align: center;
    position: relative;
}


.texto {
    text-align: center;
    display: flex;
    font-size: 100px;
    position: absolute;
    bottom: 0; /* Adjust to place it behind the image */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Start invisible */
    animation: slideUp 1s forwards; /* Animation for the effect */
}

.texto ul{
    display: flex;
    list-style-type: none;
    list-style-position: inherit;
}

.texto li {
    opacity: 1; /* Começa invisível */
    transition: opacity 0.5s; /* Transição suave */
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 100%); /* Start below */
        opacity: 0; /* Invisible */
    }
    to {
        transform: translate(-50%, 0); /* End at its position */
        opacity: 1; /* Visible */
    }
}






